{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% block title %}Show Authention Numbers of {{ secret.name }}{% endblock %}</h1> {# TODO use trans #}
{% if otp %}
<p id="otp"><pre>{{ otp }}</pre></p>
{% endif %}
<form action="" method="post">{% csrf_token %}
    <p>
    Input Secret key {# TODO use trans #}
    </p>
    {{ form }}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="reload" /> {# TODO use trans #}
    </div>
</form>
<hr />
<h1>Modify Secret Name</h1> {# TODO use trans #}
<form action="{% url "account:two_factor_auth_secret_id_modify" id_ %}" method="post">{% csrf_token %}
    {{ modify_form }}
    <div class="controls">
        <input class="btn" type="submit" value="modify" /> {# TODO use trans #}
    </div>
</form>
<hr />
<h1>Danger zone</h1> {# TODO use trans #}
<form action="{% url "account:two_factor_auth_secret_id_delete" id_ %}" method="post">{% csrf_token %}
    Delete operation is unrecoverable and process ends without any confirmation!
    <div class="controls">
        <input class="btn btn-danger" type="submit" value="delete" tabindex="-1" /> {# TODO use trans #}
    </div>
</form>
{% endblock %}
