{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1>{% block title %}Add Two Factor Authention{% endblock %}</h1> {# TODO use trans #}
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
    <p>
    Input Secret key ( when token save in RatticWeb, token is encrypted with this secret key ) {# TODO use trans #}
    </p>
    {{ form }}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Upload" /> {# TODO use trans #}
    </div>
</form>
{% endblock %}
